@model Models.DBContext.Restaurant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            @Html.HiddenFor(model => model.restaurant_id)
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="mt-5 img-fluid" id="avatar_user" src="~/assets/@Model.restaurant_image"><span class="font-weight-bold">@Model.restaurant_name</span><span class="text-black-50">@Model.restaurant_email</span><span> </span></div>
            </div>
            <div class="col-md-8 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">THÔNG TIN NHÀ HÀNG</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Tên nhà hàng</label><input type="text" class="form-control" placeholder="Tên nhà hàng" name="restaurant_name" value="@Model.restaurant_name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text" class="form-control" placeholder="Số điện thoại" name="restaurant_phone" value="@Model.restaurant_phone"></div>
                        <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" class="form-control" placeholder="Địa chỉ" name="restaurant_address" value="@Model.restaurant_address"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Email" name="restaurant_email" value="@Model.restaurant_email"></div>
                        <div class="col-md-12"><label class="labels">Hình ảnh</label><input type="file" class="form-control" id="validatedCustomFile" name="restaurant_image" value="@Model.restaurant_image"></div>
                        <div class="col-md-12">
                            <label class="labels">Loại nhà hàng</label><br />
                            @Html.DropDownList("restaurant_category_id", new SelectList(ViewBag.restaurant_category_id, "Value", "Text"))
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Giờ mở cửa</label><input type="text" class="form-control" placeholder="Giờ mở cửa" name="restaurant_start_time" value="@Model.restaurant_start_time"></div>
                        <div class="col-md-6"><label class="labels">Giờ đóng cửa</label><input type="text" class="form-control" placeholder="Giờ đóng cửa" name="restaurant_end_time" value="@Model.restaurant_end_time"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Lưu</button></div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
